In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
# Привет!

In [4]:
pwd()

'/Users/boris/Documents/macro_dynamics'

In [5]:
train.describe()

/Users/boris/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
test.describe()

/Users/boris/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000         NaN    0.000000    0.000000         NaN
50%    1100.500000    3.000000         NaN    0.000000    0.000000         NaN
75%    1204.750000    3.000000         NaN    1.000000    0.000000         NaN
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [7]:
all_df = [train, test]

In [11]:
train.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [54]:
big_df = pd.concat(all_df)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,relatives
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,1
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,1
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,0
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,1
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,0

Боремся с пропущенными значениями:

In [12]:
age_median = big_df['Age'].median()

In [13]:
age_median

28.0

In [14]:
fare_median = big_df['Fare'].median()

In [15]:
fare_median

14.4542

In [55]:
# bad style:
# for dataset in all_df:
#    dataset.loc[np.isnan(dataset['Age']), 'Age'] = age_median
#    dataset.loc[np.isnan(dataset['Fare']), 'Fare'] = fare_median

# better style:
for dataset in all_df:
    dataset['Age'].fillna(age_median)
    dataset['Fare'].fillna(fare_median)

In [18]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   29.805024    0.447368    0.392344   35.576535
std     120.810458    0.841838   12.667969    0.896760    0.981429   55.850103
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   28.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.471875
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

Создание новых переменных

In [19]:
for dataset in all_df:
    dataset['relatives'] = dataset['SibSp'] + dataset['Parch']

In [20]:
variables = ['Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'relatives']

In [21]:
X_train = train.loc[:, variables]
y_train = train.loc[:, 'Survived']
X_test = test.loc[:, variables]

In [28]:
les_chudes = RandomForestClassifier(n_estimators=500)
les_chudes = les_chudes.fit(X_train, y_train)

In [24]:
y_test = les_chudes.predict(X_test)

In [51]:
y_test_df = pd.DataFrame(
    {'PassengerId' : test['PassengerId'], 
     'Survived' : y_test})

In [52]:
y_test_df.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.411483
std     120.810458    0.492692
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [53]:
y_test_df.to_csv("forecast.csv", 
                 index=False, header=True)

In [48]:
pwd()

'/Users/boris/Documents'

In [41]:
import os
os.chdir('..')

In [43]:
%magic os
cd ..

/Users/boris/Documents